@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0px;
    padding:0px;
    /* overflow: hidden; */
}

body{
    background-color: rgb(117, 170, 219);
    font-family: "Poppins", serif;
}
.container{
    min-height: 100vh;
    
}
.logo{
   display: flex;
   justify-content: center;
   align-items: center;
}
nav{
   display: flex; 
   
}
nav a{
    text-decoration: none;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    
    font-weight: 600;
   margin:30px 23px;   
}

footer{
   text-align: center;
   text-align: center;
}