@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0px;
    padding:0px;
    /* overflow: hidden; */
}

body{
    background-color: rgb(150, 199, 244);
    font-family: "Poppins", serif;
}
.container{
    min-height: 100vh;
    background-color: white;
    max-width: 80vw;
    margin: auto;
}
h2{
    margin-left:600px
}
.logo{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 27px;
   font-weight: 700;
   border:2px solid white; 
   background-color: rgb(150, 199, 244);
   height:50px;
   width:334px;
   margin-top:16px;
   margin-left:10px;
}
nav{
   display: flex; 
   background-color: rgb(27, 143, 163);
   
}
nav a{
    text-decoration: none;
    color:white;
}
nav a:hover{
    text-decoration: underline;
    color:rgb(42, 9, 118);
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:600px;
}
nav ul li{
    list-style-type: none;
    font-size: 19px;
    font-weight: 600;
   margin:30px 23px;   
}

footer{
   text-align: center;
   text-align: center;
}